<h3> Create Student</h3>
<div>
    <label for="name">Name : </label>
    <input type="text" id="name" [(ngModel)]="student.name" class="form-control"/><br/>

    <label for="course">Course : </label>
    <input type="text" id="course" [(ngModel)]="student.course" class="form-control"/><br/>

    <label for="fee">Fee : </label>
    <input type="number" id="name" [(ngModel)]="student.fee" class="form-control"/><br/>

    <label for="marks">Marks : </label>
    <input type="number" id="marks" [(ngModel)]="student.marks" class="form-control"/><br/>

    <button (click)="saveStudent()" class="btn btn-success">SUBMIT</button>

</div>
